/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* ユーザー情報下ボタン */

.btn-users-show {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 10px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }
}

/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

.modal-header-approval {
  padding: 5px;
}

.modal-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0px;
}

.modal-body-approval {
  position: relative;
  padding: 0px 30px 0px;
}

.modal-footer-approval {
  padding: 20px 15px 15px;

}